<!doctype html>
<html>
  <head>
    <title>Squad</title>
    <meta charset="utf-8">
    <link href="squad.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/a7da00c18b.js"></script>
    <link rel='shortcut icon' href='./pictures/mango.ico' type='image/x-icon'/ >

  </head>

  <body>
    <div class = "nav">
      <div class="left-nav">
        <a href="index.html"><p> Whitechurch FC </p> </a>
      </div>

      <div class="right-nav">
        <a href="/index">Home</a>
        <a href="Squad.html">Squad</a>
        <a href="League.html">League</a>
        <a href="Store.html">Store</a>
        <div class="button">
            <a href="LogIn.html">Log In</a>
        </div>
        <a href="https://www.facebook.com"> <i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
        <a href="https://twitter.com"> <i class="fa fa-twitter-square" aria-hidden="true"></i> </a>
        <a href="https://www.instagram.com"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
      </div>
    </div>

    <div class="banner">
      <img src="./pictures/MainStadium.jpg " alt="Main page banner">
    </div>
    
    <main>
    
    <div id="container2">
  
  <div id="teamsleft">
  
  <IMG src= "./Pictures/lm.png"> <p>Philip Marshall, Age: 33, Goalkeeper</p>
  
  <IMG src=  "./Pictures/am.png"> <p>Craig Nolan, Age: 22, Centre Back</p>
  
  <IMG src=  "./Pictures/bc.png"> <p>Graham Kelly, Age: 27, Right Back</p>
  
  <IMG src=  "./Pictures/bp.png"> <p>John Cooney, Age: 34, Centre Midfield</p>
  
  <IMG src=  "./Pictures/cc.png"> <p>Conor Dillon, Age: 20, Striker</p>
  
  </div>
  
  <div id="teamsmiddle">
  
  <IMG src=  "./Pictures/ab.png"> <p>Jason Mulligan, Age: 23, Goalkeeper</p>
  
  <IMG src=  "./Pictures/cb.png"> <p>Cormac Healy, Age: 19, Centre Back</p>
  
  <IMG src=  "./Pictures/ge.png"> <p>Joe Furey, Age: 28, Defensive Midfield</p>
  
  <IMG src=  "./Pictures/jl.png"> <p>Adam Finnegan, Age: 20, Right Wing</p>
  
  <IMG src=  "./Pictures/jm.png"> <p>Dean Merrigan, Age: 25, Striker</p>
  
  </div>
  
  <div id="teamsright">
  
  <IMG src=  "./Pictures/kb.png"> <p>Aaron Casey, Age: 21, Centre Back</p>
  
  <IMG src=  "./Pictures/mc.png"> <p>Ryan Glynn, Age: 29, Centre Back</p>
  
  <IMG src=  "./Pictures/ml.png"> <p>Fabio Cinelli, Age: 30, Centre Midfield</p>
  
  <IMG src=  "./Pictures/nt.png"> <p>Darren Donegan, Age: 24, Left Wing</p>
  
  <IMG src=  "./Pictures/oh.png"> <p>Jack Murphy, Age: 26, Striker</p>
  
    </div>
  
   </div>
   
   </div>
  
  </main>
    
    

    <footer>
      <div class="column1">
        <h3>Location</h3>
          <p>Whitechurch FC<br>
            Whitechurch Green<br>
            Dublin<br>
            Republic of Ireland<br>
            01 4942468<br>
          </p>
      </div>
      <div class="column2">
        <h3>People</h3>
          <p>Adam Finnegan<br>
             Founder<br>
          </p>
          <p>Conor Dillon<br>
             President<br>
          </p>


      </div>

      <div class="column3">
        <h3>Find us on</h3>
        <a href="https://www.twitter.com"><p>Facebook</p></a>
        <a href="https://www.twitter.com"><p>Twitter</p></a>
        <a href="https://www.twitter.com"><p>Instagram</p></a>
      </div>
    </footer>

    <div class="bottom-footer">
      <p> © 2017 Whitechurch </p>
    </div>

    body {
        margin:0;
        width: 100%;
      }
      h1{
          color: #8c8c8c;
          text-align: center;
      }
      a {
        text-decoration: none;
      }
      
      .nav {
        width:0;
        height:3em;
        background-color: white;
        width:100%;
        display: flex;
        justify-content:flex-end;
        position: fixed;
      }
      
      .button {
        padding-top: 1em;
        border-radius: 0.2em;
      
      }
      
      .button a {
        padding: 0.5em;
        border-radius: 0.25em;
        background-color: #F5C732;
      }
      
      .fa.fa-facebook-official {
        margin-left: 2em;
      }
      
      .left-nav {
        width: 17em;
        margin-left: 3em;
      }
      
      .left-nav  p {
        color: #F5C732;
        font-family: sans-serif;
      }
      
      .left-nav  p:hover {
        color: grey;
      }
      
      .right-nav {
        margin:0;
        width:100%;
        display: flex;
        justify-content: flex-end;
      }
      
      .right-nav a {
        margin: 1em 0.4em;
        text-decoration: none;
        font-family: sans-serif;
        color:black;
      }
      
      .right-nav a:hover {
        color:grey;
      }
      
      header h1{
          color: black;
          text-align: center;
        font-family: sans-serif;
      }
      
      .banner img {
        width: 100%
      }
      
        .paragraphs h1 {
          color: black;
        }
      
      .paragraphs h2 {
        font-weight: lighter;
        font-family: sans-serif;
        margin-right: 14em;
        margin-left: 14em;
          color: black;
      }
      
      form {
      border: solid thin;
      margin-left: 26em;
      margin-right: 26em;
      font-family: sans-serif;
      border-radius: 0.3em;
      margin-top: 4em;
      padding: 4em;
      }
      
      .socialmedialinks {
        text-align: center;
        padding: 5em 0em;
      }
      
      .socialmedialinks a {
        text-decoration: none;
        color:black;
        padding: 0.8em 1.5em;
        border: solid thin;
        border-radius: 0.2em;
        background-color: #white;
      }
      
      .socialmedialinks a:hover {
        color: #3C5A96;
      
      }
      
      .address {
        display: flex;
        justify-content: space-between;
        background-color: lightgrey;
        padding: 3em 0em;
      }
      
      .address p,h3 {
        font-family: sans-serif;
      }
      
      .banner {
        width:100%;
      }
      
      
      footer {
        height: 6.5em;
        padding:2em 3em 5em 7em;
        display: flex;
        justify-content: space-between;
        background-color: lightgrey;
      }
      
      footer h3 {
        font-family: sans-serif;
      }
      
      footer p {
        font-family: sans-serif;
        font-weight: lighter;
      }
      
      .bottom-footer {
        text-align: center;
        background-color:silver;
        padding: 1em;
      }
      
      .bottom-footer p {
        margin:0;
        font-family: sans-serif;
        font-weight: lighter;
      }
      
      #teamsleft{
          float: left;
          width: 25%;
          padding-right: 4em;
          padding-left: 0.6em;
          text-align: center;
              }
              
              #teamsmiddle{
                  float: left;
                  width: 25%;
                  padding-left: 0.3em;
                  padding-right: 4em;
                  text-align: center;
                  
              }
              
              #teamsright{
                  float: right;
                  width: 25%;
                  padding-right: 6.5em;
                  text-align: center;
                  
              }
              
              #container2 img{
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin: 0 auto;
          
      }
      
              
              #container2{
                  background-color: #0026FF;
                  width: 78%;
                  margin-left: auto;
                  margin-right: auto;
              }
              
              #container{
                  background-color: 0026FF;
              }

  </body>
</html>